* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}
section {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h1 {
  font-size: 80px;
}
p {
  font-size: 30px;
}
.s1 {
  background-color: #1abc9c;
}
.s2 {
  background-color: #9b59b6;
}
.s3 {
  background: yellow;
}
.logo {
  transform: translateY(200%);
}
.logo.aos-animate {
  transform: translateY(-200%);
}
